@import "../../general.scss";

.forgetPassword {
  margin: 5%;
  background-color: $first-background-color;
  padding: 2% 5%;
  width: 500px;
  height: auto;
  border-radius: $border-radius;
  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    label {
      padding: 5px 0;
      color: $font-color;
    }
    input {
      width: 100%;
      padding: 10px;
      margin: 10px 0;
      border: none;
      background-color: unset;
      border-bottom: 1px solid $second-background-color;
      &:hover,
      &:active,
      &:focus,
      &:visited {
        outline: none;
      }
    }

    button {
      width: 100%;
      background-color: $second-background-color;
      padding: 10px 0;
      border-radius: $border-radius;
      border: none;
      cursor: pointer;
      transition: all 0.2s;
      color: $white-color;
      margin-top: 20px;

      &:hover {
        background-color: $button-hover-color;
      }
    }
    .tagA {
      text-decoration: none;
      color: $font-color;
      &:hover {
        color: $second-background-color;
      }
    }
    .firstLink {
      width: 100%;
      background-color: unset;
      font-size: 0.9rem;
      text-align: left;
      margin: unset;
      padding: 2% 0;
    }
    .secondLink {
      text-align: left;
      width: 100%;
      font-size: 0.9rem;
      p {
        display: inline;
        padding: 0 2% 0 0;
        color: $second-background-color;
      }
      .tagA {
        font-size: 0.9rem;
      }
    }
  }
}
