$main-background-color: #76a197;
$first-background-color :#ffba32;
$second-background-color :#1a545c;
$button-hover-color:#1a727b;
$white-color : #ffff;
$border-radius : 5px;
$font-color: rgb(121, 120, 115);




*{
    box-sizing: border-box;
}
body{

    background-color: $main-background-color;


}