$background-color :rgb(255, 225, 89);
$white-color : #ffff;
$border-radius : 5px;
$dark-background-color:#ffd205;
$font-color: rgb(121, 120, 115);

*{
    box-sizing: border-box;
}
body{

    background-color: $background-color;


}